*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #001e4d;
}

.app{
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.quiz h1{
    font-weight: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px 20px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
}



.btn:hover.btn:hover:not([disable]){
    background: #222;
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

/* #next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none; } */
#next-btn {
        padding: 15px 50px;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 12px;
        margin: 20px;
        margin-left: 190px;
    }
    
#next-btn::after {
        content: "";
        z-index: -1;
        position: absolute;
        width: 119px;
        height: 40px;
        background-color: #333;
        right: 4px;
        top: 3px;
        border-radius: 10px;
    }
    
    #next-btn::before {
        content: "";
        background: linear-gradient(
            45deg,
            #FF0000, #FF7300, #FFFB00, #48FF00,
            #00FFD5, #002BFF, #FF00C8, #FF0000
        );
        position: absolute;
        top: -2px;
        left: -5px;
        background-size: 600%;
        z-index: -1;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        filter: blur(8px);
        animation: glowing 20s linear infinite;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
        opacity: 0;
        margin-left: 10px;
    }
    
    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }
    
    #next-btn:hover::before {
        opacity: 1;
    }
    
    #next-btn:active::after {
        background: transparent;
    }
    
    #next-btn:hover:active {
        color: #000;
        font-weight: bold;
    }
    
    /* Slider Styles */
    .slider-container {
        width: 300px;
        overflow: hidden;
    }
    
    .slide {
        display: flex;
        transition: transform 0.5s ease;
    }
    
    .item {
        min-width: 300px;
        text-align: center;
        padding: 20px;
        background-color: #333;
        color: white;
    }
    
    .controls {
        text-align: center;
        
    }
     


.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}